<a href="https://colab.research.google.com/github/Veroberg/Calculadora-aluguel/blob/main/aluguel_im%C3%B3veis_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importando as linguagens necessárias para trabalhar na raspagem de dados do site Viva Real, de imóveis alugados

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
import requests
from bs4 import BeautifulSoup

In [ ]:
# Puxando e filtrando as páginas que solicitei

paginas = ['']
for i in range(1,50):
    a = '?pagina='+str(i)
    print(a)
    paginas.append(a)

?pagina=1
?pagina=2
?pagina=3
?pagina=4
?pagina=5
?pagina=6
?pagina=7
?pagina=8
?pagina=9
?pagina=10
?pagina=11
?pagina=12
?pagina=13
?pagina=14
?pagina=15
?pagina=16
?pagina=17
?pagina=18
?pagina=19
?pagina=20
?pagina=21
?pagina=22
?pagina=23
?pagina=24
?pagina=25
?pagina=26
?pagina=27
?pagina=28
?pagina=29
?pagina=30
?pagina=31
?pagina=32
?pagina=33
?pagina=34
?pagina=35
?pagina=36
?pagina=37
?pagina=38
?pagina=39
?pagina=40
?pagina=41
?pagina=42
?pagina=43
?pagina=44
?pagina=45
?pagina=46
?pagina=47
?pagina=48
?pagina=49

In [ ]:
# Um print das páginas soclicitadas acima

paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [ ]:
# Convertendo dados das colunas em Data Frame

import pandas as pd
def converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
           'banheiro':banheiro_lista,
            'vaga':vaga_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [ ]:
# Processo da trasnformação acima como listas

def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    #Lista de aluguel
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
     
    #Lista de quartos
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 
   
    #Lista de endereço
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 
    
    #Lista de banheiro
    banheiro_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-bathroom js-property-detail-bathroom'}) 
    banheiro_lista = [yp.text for yp in banheiro_tag] 
  

    vaga_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-garage js-property-detail-garages'}) 
    vaga_lista = [yp.text for yp in vaga_tag] 

    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 


   #Listas transfromadas em df
    df=converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista)
    
    return df

In [ ]:
# Print das páginas solicitadas acima

paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [ ]:
# Coletando dados de imóveis do site Viva Real

df_lista = []
for pg in paginas:
    URL = 'https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7'.format(pg)
    print('Coletando URL:', URL)
    #try:
    df = scrap(URL)
    #print(df)
    #print('Coletando URL:', URL)
    #except Exception as e:
    #    print('Erro ao coletar dados na url:', url)
    #    print(e)
    df_lista.append(df)
    
# df_final = pd.concat(df_lista)

Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7

In [ ]:
# Visualização de valores de aluguél, quarto e endereço

df2=pd.concat(df_lista)
df2.head(104)

               aluguel          quartos  ...           vaga          area
0      R$ 1.900 /Mês      2   Quartos    ...     1   Vaga       80   m²
1      R$ 3.300 /Mês       1   Quarto    ...     1   Vaga       34   m²
2      R$ 7.000 /Mês      --   Quarto    ...    4   Vagas       95   m²
3      R$ 5.100 /Mês      2   Quartos    ...    2   Vagas      107   m²
4      R$ 2.300 /Mês      2   Quartos    ...     1   Vaga       65   m²
..                 ...              ...  ...            ...           ...
27       R$ 300 /Mês      --   Quarto    ...    --   Vaga       10   m²
28     R$ 1.800 /Mês      --   Quarto    ...    --   Vaga       85   m²
29     R$ 1.200 /Mês      --   Quarto    ...    --   Vaga       21   m²
30     R$ 2.800 /Mês       1   Quarto    ...     1   Vaga       47   m²
31     R$ 2.000 /Mês       1   Quarto    ...     1   Vaga       36   m²

[104 rows x 6 columns]

In [ ]:
# Alterando nomes e retirando acentos

df2['bairro'] = df2.endereco.str.split('\s-').str[0]
df2['rua'] = df2.endereco.str.split('\s-').str[0]
df2['bairro'] = df2.bairro.str.split(',').str[0]
df2['aluguel'] = df2.aluguel.str.split('/').str[0]
df2['aluguel'] = df2.aluguel.str.split('Mês').str[0]
df2['quartos'] = df2.quartos.str.split('Quartos').str[0]
df2['quartos'] = df2.quartos.str.split('Quarto').str[0]
df2['banheiro'] = df2.banheiro.str.split('Banheiros').str[0]
df2['banheiro'] = df2.banheiro.str.split('Banheiro').str[0]
df2['vaga'] = df2.vaga.str.split('Vagas').str[0]
df2['vaga'] = df2.vaga.str.split('Vaga').str[0]
df2['area'] = df2.area.str.split('m²').str[0]
df2.head()

        aluguel  ...                                 rua
0     R$ 1.900   ...             Rua Fidélis Papini, 786
1     R$ 3.300   ...                Rua Fernão Dias, 407
2     R$ 7.000   ...      Avenida Pedroso de Morais, 457
3     R$ 5.100   ...  Avenida Doutor Altino Arantes, 741
4     R$ 2.300   ...        Rua Maria Bucalem Haddad, 61

[5 rows x 8 columns]

In [ ]:
df2['aluguel'] = df2['aluguel'].map(lambda x: x.lstrip('R$ ').rstrip(''))
df2['quartos'] = df2['quartos'].map(lambda x: x.lstrip('-- ').rstrip('"'))
df2['vaga'] = df2['vaga'].map(lambda x: x.lstrip('-- ').rstrip(''))

In [ ]:
# Retirando colunas desnecessárias

df2 = df2.drop(columns=['endereco'])
df2.head()

  aluguel  ...                                 rua
0  1.900   ...             Rua Fidélis Papini, 786
1  3.300   ...                Rua Fernão Dias, 407
2  7.000   ...      Avenida Pedroso de Morais, 457
3  5.100   ...  Avenida Doutor Altino Arantes, 741
4  2.300   ...        Rua Maria Bucalem Haddad, 61

[5 rows x 7 columns]

In [ ]:
df2 = df2.drop(columns=['rua'])
df2.head()

  aluguel quartos banheiro  vaga      area                         bairro
0  1.900     2        2     1        80                Rua Fidélis Papini
1  3.300     1        1     1        34                   Rua Fernão Dias
2  7.000              2     4        95         Avenida Pedroso de Morais
3  5.100     2        4     2       107     Avenida Doutor Altino Arantes
4  2.300     2        2     1        65          Rua Maria Bucalem Haddad

In [ ]:
df2.rename(columns = {'bairro':'endereco'}, inplace = True)

In [ ]:
df2 = df2.drop(columns=['endereco'])
df2.head()

  aluguel quartos banheiro  vaga      area
0  1.900     2        2     1        80
1  3.300     1        1     1        34
2  7.000              2     4        95
3  5.100     2        4     2       107
4  2.300     2        2     1        65

In [ ]:
# Quantidade dos dados acima apresentadas

df2.shape

(1800, 5)

In [ ]:
# Amostragem

df2.quartos.unique()

array(['2   ', '1   ', '', '3   ', '4   ', '14   '], dtype=object)

In [ ]:
# Amostragem das informações que estão no banco de dados dos imóveis a ser confirmado

df2.head()

  aluguel quartos banheiro  vaga      area
0  1.900     2        2     1        80
1  3.300     1        1     1        34
2  7.000              2     4        95
3  5.100     2        4     2       107
4  2.300     2        2     1        65

In [ ]:
# Gerando o banco de dados dos imóveis solicitados

df2.to_csv('banco_imoveis.csv')

In [ ]:
# Baixando datset e o nomeando

imoveis = pd.read_csv("banco_imoveis.csv")

In [ ]:
# Visualização do dataset

imoveis.head()

   Unnamed: 0  aluguel  quartos banheiro  vaga  area
0           0      1.9      2.0     2      1.0    80
1           1      3.3      1.0     1      1.0    34
2           2      7.0      NaN     2      4.0    95
3           3      5.1      2.0     4      2.0   107
4           4      2.3      2.0     2      1.0    65

In [ ]:
imoveis = pd.read_csv('banco_imoveis.csv'); imoveis.head()

   Unnamed: 0  aluguel  quartos banheiro  vaga  area
0           0      1.9      2.0     2      1.0    80
1           1      3.3      1.0     1      1.0    34
2           2      7.0      NaN     2      4.0    95
3           3      5.1      2.0     4      2.0   107
4           4      2.3      2.0     2      1.0    65

In [ ]:
imoveis.head()

   Unnamed: 0  aluguel  quartos banheiro  vaga  area
0           0      1.9      2.0     2      1.0    80
1           1      3.3      1.0     1      1.0    34
2           2      7.0      NaN     2      4.0    95
3           3      5.1      2.0     4      2.0   107
4           4      2.3      2.0     2      1.0    65

In [ ]:
# Excluindo valores NaN

imoveis.dropna(inplace=True)

In [ ]:
# Verificando a efetivação da exclusão

imoveis.isnull().sum()

Unnamed: 0    0
aluguel       0
quartos       0
banheiro      0
vaga          0
area          0
dtype: int64

In [ ]:
# Treino e teste

X_train, X_val, y_train, y_val = train_test_split(imoveis.drop('aluguel', axis=1), 
                                                  imoveis['aluguel'], test_size=0.2,
                                                  random_state=5)

In [ ]:
X_test = imoveis.drop('aluguel', axis=1)

In [ ]:
y_test = imoveis['aluguel']

In [ ]:
X_train.describe()

       Unnamed: 0     quartos        vaga        area
count  840.000000  840.000000  840.000000  840.000000
mean    15.303571    2.096429    1.622619  100.008333
std     10.157144    0.920686    0.965045   70.095720
min      0.000000    1.000000    1.000000   29.000000
25%      6.000000    1.000000    1.000000   47.000000
50%     16.000000    2.000000    1.000000   70.000000
75%     23.000000    3.000000    2.000000  125.000000
max     34.000000    4.000000    5.000000  266.000000

In [ ]:
X_val.describe()

       Unnamed: 0     quartos        vaga        area
count  210.000000  210.000000  210.000000  210.000000
mean    15.452381    2.090476    1.604762   99.728571
std      9.945311    0.926177    0.891736   67.511598
min      0.000000    1.000000    1.000000   29.000000
25%      6.000000    1.000000    1.000000   47.000000
50%     16.000000    2.000000    1.000000   70.000000
75%     23.000000    3.000000    2.000000  125.000000
max     34.000000    4.000000    5.000000  266.000000

In [ ]:
X_test.head()

   Unnamed: 0  quartos banheiro  vaga  area
0           0      2.0     2      1.0    80
1           1      1.0     1      1.0    34
3           3      2.0     4      2.0   107
4           4      2.0     2      1.0    65
5           5      3.0     3      2.0   125

In [ ]:
y_test.head()

0    1.9
1    3.3
3    5.1
4    2.3
5    2.5
Name: aluguel, dtype: float64

In [ ]:
imoveis["quartos"] = pd.get_dummies(imoveis["quartos"])

In [ ]:
# Regressão linear

reg = LinearRegression()

In [ ]:
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
reg.coef_

array([-0.01043641, -2.85450585,  0.03666748,  4.65650066,  0.07051964])

In [ ]:
np.expm1(reg.predict([[0, 1, 0, np.log1p(2), np.log1p(80)]]))

array([0.26414971])

In [ ]:
y_pred = reg.predict(X_val)

In [ ]:
r2_score(y_val, y_pred)

0.9082384486498692

In [ ]:
reg.score(X_val, y_val)

0.9082384486498692

In [ ]:
reg.score(X_test, y_test)

0.914845261241182

In [ ]:
reg.score(X_train, y_train)

0.9162702746280349

In [ ]:
# Random Forest

reg = RandomForestRegressor()

In [ ]:
reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
reg.score(X_val, y_val)

1.0

In [ ]:
reg.score(X_train, y_train)

1.0

In [ ]:
reg.score(X_test, y_test)

1.0

In [ ]:
# Regressão fictícia

reg = DummyRegressor(strategy="median")

In [ ]:
reg.fit(X_train, y_train)

DummyRegressor(constant=None, quantile=None, strategy='median')

In [ ]:
reg.score(X_train, y_train)

-0.21912328634990885

In [ ]:
reg.score(X_val, y_val)

-0.21209561695234294

In [ ]:
reg.score(X_test, y_test)

-0.21758821389694738

In [ ]:
# Comparar Estimadores

from sklearn.linear_model import Ridge, Lasso, ElasticNet, LassoLars, HuberRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor
from sklearn.neural_network import MLPRegressor

In [ ]:
reg_list = [Ridge(),
            Lasso(),
            ElasticNet(),
            LassoLars(),
            HuberRegressor(),
            LGBMRegressor(), 
            XGBRegressor(objective='reg:squarederror'),
            SVR(),
            KNeighborsRegressor(),
            AdaBoostRegressor(),
            GradientBoostingRegressor(),
            MLPRegressor()
            ]

In [ ]:
for reg in reg_list:
    print(f'Treinando Modelo {reg.__class__.__name__}')
    reg.fit(X_train, y_train)
    valid_score = reg.score(X_val, y_val)
    train_score = reg.score(X_train, y_train)
    print(f"R2 Score Train: {train_score}")
    print(f"R2 Score Validation: {valid_score}")
    print('='*80)

Treinando Modelo Ridge
R2 Score Train: 0.9162662381738231
R2 Score Validation: 0.9082220557151577
================================================================================
Treinando Modelo Lasso
R2 Score Train: 0.8238960246864713
R2 Score Validation: 0.8066380570348848
================================================================================
Treinando Modelo ElasticNet
R2 Score Train: 0.8237803027742526
R2 Score Validation: 0.8065598352126568
================================================================================
Treinando Modelo LassoLars
R2 Score Train: 0.0
R2 Score Validation: -0.0015508857270898346
================================================================================
Treinando Modelo HuberRegressor
R2 Score Train: 0.912532991597503
R2 Score Validation: 0.9015384926049441
================================================================================
Treinando Modelo LGBMRegressor

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_huber.py:296: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

ValueError: ignored

In [ ]:
reg_list = [LGBMRegressor(),
            SVR(),
            MLPRegressor()
            ]

In [ ]:
for reg in reg_list:
    print(f'Treinando Modelo {reg.__class__.__name__}')
    reg.fit(X_train, y_train)
    valid_score = reg.score(X_val, y_val)
    train_score = reg.score(X_train, y_train)
    test_score = reg.score(X_test, y_test)
    print(f"R2 Score Train: {train_score}")
    print(f"R2 Score Validation: {valid_score}")
    print(f"R2 Score Test: {test_score}")
    print('='*80)

In [ ]:
# GridSearchCV

from sklearn.model_selection import GridSearchCV

In [ ]:
X = imoveis.drop('aluguel', axis=1)
y = imoveis['aluguel']

In [ ]:
param = {'kernel' : ('linear', 'poly', 'rbf'),
         'C' : [1,5,10]},

modelsvr = SVR()

grids = GridSearchCV(modelsvr,param,cv=5)

grids.fit(X,y)

In [ ]:
grids.best_params_

In [ ]:
SVR()

In [ ]:
grids.score(X_test, y_test)

In [ ]:
# LightGBM

gridParams = {
    'learning_rate': [0.01, 0.1, 1],
    'n_estimators': [20, 40, 100],
    'num_leaves': [6, 16, 31],
    #'boosting_type' : ['gbdt'],
    #'objective' : ['binary'],
    #'random_state' : [501], # Updated from 'seed'
    #'colsample_bytree' : [0.65, 0.66],
    #'subsample' : [0.7,0.75],
    #'reg_alpha' : [1,1.2],
    #'reg_lambda' : [1,1.2,1.4],
    }

param_grid = {
    'learning_rate': [0.01, 0.1, 1],
    'n_estimators': [20, 40]
}

In [ ]:
estimator = LGBMRegressor()

In [ ]:
gbm = GridSearchCV(estimator, gridParams, cv=5)
gbm.fit(X, y)

In [ ]:
gbm.best_params_

In [ ]:
LGBMRegressor()

In [ ]:
gbm.score(X_test, y_test)

In [ ]:
# MLP

param = {
         'learning_rate_init' : [0.0001,0.001,0.01],
         'hidden_layer_sizes':[(50,), (100,), (200,)]
         }

mlp = MLPRegressor()

gmlp = GridSearchCV(mlp,param,cv=5)

gmlp.fit(X,y)

In [ ]:
gmlp.best_params_

In [ ]:
gmlp.score(X_test, y_test)

### Stacking

In [ ]:
from sklearn.ensemble import StackingRegressor

In [ ]:
estimators = [
    ('svr', SVR(C=5.0,
               kernel='rbf')
    ),
    ('lgb', LGBMRegressor(learning_rate=0.1,
                          n_estimators=40,
                          num_leaves=16)
    
    ),
    ('mlp',MLPRegressor(hidden_layer_sizes=(200,),
                        learning_rate='adaptive',
                        learning_rate_init=0.01
                        )
    )
]
reg = StackingRegressor(
    estimators=estimators
)

reg.fit(X, y)

In [ ]:
estimators = [
    ('svr', SVR()
    ),
    ('lgb', LGBMRegressor()
    
    ),
    ('mlp',MLPRegressor()
    )
]
reg = StackingRegressor(
    estimators=estimators
)

reg.fit(X, y)

In [ ]:
reg.score(X_test, y_test)

In [ ]:
# Relacionando

regs = [grids, gbm, gmlp] #SVR, LGB, MLP

all_preds = []
for reg in regs:
    all_preds.append(reg.predict(X_test))

In [ ]:
y_pred = np.median(all_preds, axis=0)

In [ ]:
r2_score(y_test, y_pred)

In [ ]:
y_pred = np.mean(all_preds, axis=0)
r2_score(y_test, y_pred)

In [ ]:
# Validação Avançada

reg_list = [Ridge(),
            Lasso(),
            ElasticNet(),
            LassoLars(),
            HuberRegressor(),
            LGBMRegressor(), 
            XGBRegressor(objective='reg:squarederror'),
            SVR(),
            KNeighborsRegressor(),
            AdaBoostRegressor(),
            GradientBoostingRegressor(),
            MLPRegressor()
            ]

In [ ]:
from sklearn.model_selection import cross_val_score, cross_val_predict
import warnings
warnings.filterwarnings("ignore", message="ConvergenceWarning")

In [ ]:
for reg in reg_list:
    print(f'Treinando Modelo {reg.__class__.__name__}')
    cv_score = cross_val_score(reg, X, y)
    #y_pred = cross_val_predict(reg, X_test, y_test)
    print(f"Cross Validated R2 Score: {np.mean(cv_score):.3f} +/- {np.std(cv_score):.3f}")
    #print(f"Test Score: {r2_score(y_test, y_pred)}")
    print('='*80)

In [ ]:
# Validação Cruzada Aninhada

regs = [grids, gbm, gmlp] #SVR, LGB, MLP

for reg in regs:
    print(f'Treinando Modelo {reg.__class__.__name__}')
    scores = cross_val_score(reg, X, y)
    print(f"Cross Validated R2 Score: {np.mean(scores):.3f} +/- {np.std(scores):.3f}")
    print('='*80)