In [1]:
import pandas as pd
dados = pd.read_csv('banco_imoveis.csv')

In [2]:
dados.head()

,Unnamed: 0,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,0,R$ 11.500 /Mês,-- Quarto,"Rua Cantagalo, 74 - Tatuapé, São Paulo - SP",4 Banheiros,5 Vagas,236 m²,Tatuapé,"Rua Cantagalo, 74"
1,1,R$ 6.900 /Mês,3 Quartos,"Rua Alonso Calhamares, 244 - Jardim Anália Fra...",3 Banheiros,2 Vagas,100 m²,Jardim Anália Franco,"Rua Alonso Calhamares, 244"
2,2,R$ 3.500 /Mês,2 Quartos,"Rua Manuel da Nóbrega, 638 - Paraíso, São Paul...",2 Banheiros,2 Vagas,80 m²,Paraíso,"Rua Manuel da Nóbrega, 638"
3,3,R$ 1.990 /Mês,1 Quarto,"Rua Pires da Mota, 80 - Aclimação, São Paulo - SP",1 Banheiro,1 Vaga,44 m²,Aclimação,"Rua Pires da Mota, 80"
4,4,R$ 1.800 /Mês,-- Quarto,"Alameda dos Maracatins, 992 - Indianópolis, Sã...",2 Banheiros,1 Vaga,50 m²,Indianópolis,"Alameda dos Maracatins, 992"

In [7]:
dados.rename(columns={'aluguel':'Aluguel', 'quartos':'Quarto', 'endereco':'Endereco', 'banheiro':'Banheiro', 'vaga':'Vaga', 'area':'Area', 'bairro':'Bairro', 'rua':'Rua'}, inplace = True)

In [8]:
dados.head()

,Unnamed: 0,Aluguel,Quarto,Endereco,Banheiro,Vaga,Area,Bairro,Rua
0,0,R$ 11.500 /Mês,-- Quarto,"Rua Cantagalo, 74 - Tatuapé, São Paulo - SP",4 Banheiros,5 Vagas,236 m²,Tatuapé,"Rua Cantagalo, 74"
1,1,R$ 6.900 /Mês,3 Quartos,"Rua Alonso Calhamares, 244 - Jardim Anália Fra...",3 Banheiros,2 Vagas,100 m²,Jardim Anália Franco,"Rua Alonso Calhamares, 244"
2,2,R$ 3.500 /Mês,2 Quartos,"Rua Manuel da Nóbrega, 638 - Paraíso, São Paul...",2 Banheiros,2 Vagas,80 m²,Paraíso,"Rua Manuel da Nóbrega, 638"
3,3,R$ 1.990 /Mês,1 Quarto,"Rua Pires da Mota, 80 - Aclimação, São Paulo - SP",1 Banheiro,1 Vaga,44 m²,Aclimação,"Rua Pires da Mota, 80"
4,4,R$ 1.800 /Mês,-- Quarto,"Alameda dos Maracatins, 992 - Indianópolis, Sã...",2 Banheiros,1 Vaga,50 m²,Indianópolis,"Alameda dos Maracatins, 992"

In [9]:
# Para verificar cada coluna, uso este código abaixo. Como exemplo, puxei a coluna 'Aluguel'
dados['Aluguel']

0          R$ 11.500 /Mês
1           R$ 6.900 /Mês
2           R$ 3.500 /Mês
3           R$ 1.990 /Mês
4           R$ 1.800 /Mês
               ...
1795        R$ 1.999 /Mês
1796       R$ 16.950 /Mês
1797        R$ 1.000 /Mês
1798        R$ 3.200 /Mês
1799        R$ 3.000 /Mês
Name: Aluguel, Length: 1800, dtype: object

In [10]:
# Simplificando todo o código que identifica a coluna 'Aluguel', em uma única palavra = Aluguel, para identificar a coluna quando eu precisar 
Aluguel = dados['Aluguel']

In [11]:
# Identificação do modelo da coluna
type(Aluguel)

pandas.core.series.Series

In [12]:
# Contabiliza quantas vezes os valores aparecem nesta coluna, como por exemplo 'Quarto'. Permitindo sabermos quantos dados estão distribuidos
dados['Quarto'].value_counts()

  1   Quarto       550
  --   Quarto      500
  2   Quartos      400
  3   Quartos      300
  4   Quartos       50
Name: Quarto, dtype: int64

In [14]:
# Identifica todas as colunas que possuem números para fazer cálculo, identificando valores, média, desvio padrão, o valor mínimo, percentis, valor máximo de cada coluna
dados.describe()

        Unnamed: 0
count  1800.000000
mean     17.500000
std      10.391182
min       0.000000
25%       8.750000
50%      17.500000
75%      26.250000
max      35.000000