<a href="https://colab.research.google.com/github/Veroberg/coleta-dados-calculadora-aluguel/blob/main/Raspagem_dados_Viva_Real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
paginas = ['']
for i in range(1,50):
    a = '?pagina='+str(i)
    print(a)
    paginas.append(a)

?pagina=1
?pagina=2
?pagina=3
?pagina=4
?pagina=5
?pagina=6
?pagina=7
?pagina=8
?pagina=9
?pagina=10
?pagina=11
?pagina=12
?pagina=13
?pagina=14
?pagina=15
?pagina=16
?pagina=17
?pagina=18
?pagina=19
?pagina=20
?pagina=21
?pagina=22
?pagina=23
?pagina=24
?pagina=25
?pagina=26
?pagina=27
?pagina=28
?pagina=29
?pagina=30
?pagina=31
?pagina=32
?pagina=33
?pagina=34
?pagina=35
?pagina=36
?pagina=37
?pagina=38
?pagina=39
?pagina=40
?pagina=41
?pagina=42
?pagina=43
?pagina=44
?pagina=45
?pagina=46
?pagina=47
?pagina=48
?pagina=49

In [3]:
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [4]:
import pandas as pd
def converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
           'banheiro':banheiro_lista,
            'vaga':vaga_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [5]:
def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    #Lista de aluguel
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
     
    #Lista de quartos
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 
   
    #Lista de endereço
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 
    
    #Lista de banheiro
    banheiro_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-bathroom js-property-detail-bathroom'}) 
    banheiro_lista = [yp.text for yp in banheiro_tag] 
  

    vaga_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-garage js-property-detail-garages'}) 
    vaga_lista = [yp.text for yp in vaga_tag] 

    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 


   #Listas transfromadas em df
    df=converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista)
    
    return df

In [6]:
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [8]:
#Coletando dados de imóveis do site Viva Real
df_lista = []
for pg in paginas:
    URL = 'https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7'.format(pg)
    print('Coletando URL:', URL)
    #try:
    df = scrap(URL)
    #print(df)
    #print('Coletando URL:', URL)
    #except Exception as e:
    #    print('Erro ao coletar dados na url:', url)
    #    print(e)
    df_lista.append(df)
    
#df_final = pd.concat(df_lista)

Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7

In [9]:
#Visualização de valores de aluguél, quarto e endereço
df2=pd.concat(df_lista)
df2.head(104)

               aluguel          quartos  ...           vaga          area
0      R$ 3.450 /Mês      3   Quartos    ...    2   Vagas      100   m²
1      R$ 1.150 /Mês      --   Quarto    ...     1   Vaga       37   m²
2      R$ 2.900 /Mês       1   Quarto    ...     1   Vaga       45   m²
3      R$ 4.200 /Mês      3   Quartos    ...    2   Vagas      104   m²
4      R$ 3.800 /Mês      3   Quartos    ...    2   Vagas       93   m²
..                 ...              ...  ...            ...           ...
27       R$ 900 /Mês       1   Quarto    ...    --   Vaga       50   m²
28     R$ 2.800 /Mês       1   Quarto    ...     1   Vaga       33   m²
29     R$ 1.900 /Mês      --   Quarto    ...     1   Vaga       47   m²
30     R$ 2.500 /Mês      --   Quarto    ...     1   Vaga       45   m²
31     R$ 1.700 /Mês      3   Quartos    ...    --   Vaga       65   m²

[104 rows x 6 columns]

In [10]:
#Visualização de endereço completo
df2['bairro'] = df2.endereco.str.split('\s-').str[1]
df2['rua'] = df2.endereco.str.split('\s-').str[0]
df2['bairro'] = df2.bairro.str.split(',').str[0]

df2.head()

              aluguel  ...                                    rua
0     R$ 3.450 /Mês    ...          Rua Dom Armando Lombardi, 701
1     R$ 1.150 /Mês    ...                      Alameda Olga, 422
2     R$ 2.900 /Mês    ...                Rua Manuel de Paiva, 76
3     R$ 4.200 /Mês    ...  Alameda Joaquim Eugênio de Lima, 1094
4     R$ 3.800 /Mês    ...                     Rua Cantagalo, 980

[5 rows x 8 columns]

In [12]:
df2.shape

(1800, 8)

In [13]:
df2.rua.unique()

array(['Rua Dom Armando Lombardi, 701', 'Alameda Olga, 422',
       'Rua Manuel de Paiva, 76', 'Alameda Joaquim Eugênio de Lima, 1094',
       'Rua Cantagalo, 980', 'Rua Tamandaré', 'Rua José de Magalhães, 20',
       'Avenida Mofarrej, 1500', 'Avenida Duque de Caxias, 525',
       'Avenida Rouxinol, 60', 'Avenida Barão do Rego Barros',
       'Alameda dos Guaramomis, 362', 'Rua Pensilvânia, 1342',
       'Rua São Venceslau, 243', 'Rua Constantino de Sousa, 914',
       'Rua Sansão Alves dos Santos, 343', 'Rua Santo Arcádio, 43',
       'Rua Treze de Maio, 1838', 'Rua Oscar Freire, 1758',
       'Rua Ambrizette', 'Rua Alcides Ricardini Neves, 12',
       'Rua Heitor Penteado, 2050', 'Avenida Nove de Julho, 5143',
       'Rua Alvorada, 676', 'Rua Alcino Braga, 180', 'Rua Tamandaré, 464',
       'Rua Manuel da Nóbrega, 646',
       'Travessa Professor José Frederico de Borba, 204',
       'Rua Henri Dunant, 1066', 'Avenida Vital Brasil, 305',
       'Rua Pedroso Alvarenga, 1046', 'Avenida Antártica, 568',
       'Rua Pais Leme, 215', 'Rua Santa Elvira, 244',
       'Rua Manuel Borba, 163', 'Rua Salatiel de Campos'], dtype=object)

In [14]:
df2.head()

              aluguel  ...                                    rua
0     R$ 3.450 /Mês    ...          Rua Dom Armando Lombardi, 701
1     R$ 1.150 /Mês    ...                      Alameda Olga, 422
2     R$ 2.900 /Mês    ...                Rua Manuel de Paiva, 76
3     R$ 4.200 /Mês    ...  Alameda Joaquim Eugênio de Lima, 1094
4     R$ 3.800 /Mês    ...                     Rua Cantagalo, 980

[5 rows x 8 columns]

In [16]:
df2.to_csv('banco_imoveis.csv')