<a href="https://colab.research.google.com/github/Veroberg/coleta-dados-calculadora-aluguel/blob/main/Raspagem_dados_Viva_Real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
paginas = ['']
for i in range(1,50):
    a = '?pagina='+str(i)
    print(a)
    paginas.append(a)

?pagina=1
?pagina=2
?pagina=3
?pagina=4
?pagina=5
?pagina=6
?pagina=7
?pagina=8
?pagina=9
?pagina=10
?pagina=11
?pagina=12
?pagina=13
?pagina=14
?pagina=15
?pagina=16
?pagina=17
?pagina=18
?pagina=19
?pagina=20
?pagina=21
?pagina=22
?pagina=23
?pagina=24
?pagina=25
?pagina=26
?pagina=27
?pagina=28
?pagina=29
?pagina=30
?pagina=31
?pagina=32
?pagina=33
?pagina=34
?pagina=35
?pagina=36
?pagina=37
?pagina=38
?pagina=39
?pagina=40
?pagina=41
?pagina=42
?pagina=43
?pagina=44
?pagina=45
?pagina=46
?pagina=47
?pagina=48
?pagina=49

In [ ]:
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [ ]:
import pandas as pd
def converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
           'banheiro':banheiro_lista,
            'vaga':vaga_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [ ]:
def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    #Lista de aluguel
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
     
    #Lista de quartos
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 
   
    #Lista de endere√ßo
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 
    
    #Lista de banheiro
    banheiro_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-bathroom js-property-detail-bathroom'}) 
    banheiro_lista = [yp.text for yp in banheiro_tag] 
  

    vaga_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-garage js-property-detail-garages'}) 
    vaga_lista = [yp.text for yp in vaga_tag] 

    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 


   #Listas transfromadas em df
    df=converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista)
    
    return df

In [ ]:
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [ ]:
#Coletando dados de im√≥veis do site Viva Real
df_lista = []
for pg in paginas:
    URL = 'https://www.vivareal.com.br/venda/?pagina=2'.format(pg)
    print('Coletando URL:', URL)
    #try:
    df = scrap(URL)
    #print(df)
    #print('Coletando URL:', URL)
    #except Exception as e:
    #    print('Erro ao coletar dados na url:', url)
    #    print(e)
    df_lista.append(df)
    
#df_final = pd.concat(df_lista)

Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2
Coletando URL: https://www.vivareal.com.br/venda/?pagina=2

In [ ]:
#Visualiza√ß√£o de valores de alugu√©l, quarto e endere√ßo
df2=pd.concat(df_lista)
df2.head(104)

               aluguel          quartos  ...           vaga          area
0        R$ 152.000       2   Quartos    ...     1   Vaga       53   m¬≤
1        R$ 215.000       2   Quartos    ...     1   Vaga       56   m¬≤
2        R$ 369.000       2   Quartos    ...     1   Vaga       49   m¬≤
3        R$ 203.000       3   Quartos    ...     1   Vaga       68   m¬≤
4        R$ 635.000       3   Quartos    ...    2   Vagas       91   m¬≤
..                 ...              ...  ...            ...           ...
27     R$ 2.300.000       3   Quartos    ...     1   Vaga       90   m¬≤
28     R$ 1.950.000       3   Quartos    ...     1   Vaga      108   m¬≤
29       R$ 260.000       2   Quartos    ...    2   Vagas       75   m¬≤
30       R$ 600.000       3   Quartos    ...     1   Vaga       94   m¬≤
31       R$ 390.000       2   Quartos    ...     1   Vaga       60   m¬≤

[104 rows x 6 columns]

In [ ]:
#Visualiza√ß√£o de endere√ßo completo
df2['bairro'] = df2.endereco.str.split('\s-').str[1]
df2['rua'] = df2.endereco.str.split('\s-').str[0]
df2['bairro'] = df2.bairro.str.split(',').str[0]

df2.head()

            aluguel  ...                                               rua
0     R$ 152.000     ...                       Rua Jo√£o Jos√© Martins, 1668
1     R$ 215.000     ...                          Avenida S√£o Miguel, 1453
2     R$ 369.000     ...  Rua Engenheiro Guilherme Cristiano Frender, 1275
3     R$ 203.000     ...             Avenida Padre Francisco de Toledo, 31
4     R$ 635.000     ...                              Rua Rui Barbosa, 133

[5 rows x 8 columns]

In [ ]:
df2.shape

(1800, 8)

In [ ]:
df2.rua.unique()

array(['Rua Jo√£o Jos√© Martins, 1668', 'Avenida S√£o Miguel, 1453',
       'Rua Engenheiro Guilherme Cristiano Frender, 1275',
       'Avenida Padre Francisco de Toledo, 31', 'Rua Rui Barbosa, 133',
       'Rua Dom Vilares, 1801', 'Rua Enrico Colantonio, 101',
       'Rua Maria Figueiredo, 343', 'Avenida Osvaldo Reis, 2000',
       'Avenida Raimundo Pereira de Magalh√£es, 909', 'Rua Tatu√≠, 507',
       'Rua Santa Isabela, 100', 'Rua At√≠lio Piffer, 120',
       'Rua Joaquim Nabuco, quadra praia ipanema', 'Rua Natal, 38',
       'Rua Itajuba, 88', 'Rua Coronel Quirino, 1835',
       'Rua Pastor Hugo Gegembauer, 899', 'Rua Carlos Von Koseritz, 865',
       'Rua Coronel Aristarco Pessoa, 161',
       'Caminho do Lago, Caldas Novas', 'Rua Passo Fundo, 25',
       'Quadra 4 Conjunto 7, 4', 'Avenida Juracy Magalh√£es J√∫nior, 1855',
       'Rua Vilela, 267', 'Rua M√°rio Covas J√∫nior, 190',
       'Avenida Itacira, 255', 'Rua Humberto de Campos',
       'Rua Almirante Guilhem, 262', 'Rua Planeta Merc√∫rio, 101',
       'Estrada do Guanumbi, 306', 'Rua Geraldo Costa, 121',
       'Rua Comendador Queir√≥s, 176', 'Rua Tijucas do Sul, 2057',
       'Rua Leonardo Cerveira Varandas, 50',
       'Estrada da Barra da Tijuca, 4001'], dtype=object)