In [5]:
# Importando as linguagens necessárias para trabalhar na raspagem de dados do site Viva Real, de imóveis alugados
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
# Puxando e filtrando as páginas que solicitei
paginas = ['']
for i in range(1,50):
    a = '?pagina='+str(i)
    print(a)
    paginas.append(a)

?pagina=1
?pagina=2
?pagina=3
?pagina=4
?pagina=5
?pagina=6
?pagina=7
?pagina=8
?pagina=9
?pagina=10
?pagina=11
?pagina=12
?pagina=13
?pagina=14
?pagina=15
?pagina=16
?pagina=17
?pagina=18
?pagina=19
?pagina=20
?pagina=21
?pagina=22
?pagina=23
?pagina=24
?pagina=25
?pagina=26
?pagina=27
?pagina=28
?pagina=29
?pagina=30
?pagina=31
?pagina=32
?pagina=33
?pagina=34
?pagina=35
?pagina=36
?pagina=37
?pagina=38
?pagina=39
?pagina=40
?pagina=41
?pagina=42
?pagina=43
?pagina=44
?pagina=45
?pagina=46
?pagina=47
?pagina=48
?pagina=49

In [7]:
# Um print das páginas soclicitadas acima
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [8]:
# Convertendo dados das colunas em Data Frame
import pandas as pd
def converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista):
    data = {'aluguel':aluguel_lista,
           'quartos':quartos_lista,
           'endereco':endereco_lista,
           'banheiro':banheiro_lista,
            'vaga':vaga_lista,
            'area':area_lista}
    df = pd.DataFrame(data)
    return df

In [9]:
# Processo da trasnformação acima como listas
def scrap(url):
    c = requests.get(url).content
    soup = BeautifulSoup(c)
    
    #Lista de aluguel
    aluguel_tag = soup.find_all('div', {'class':'property-card__price js-property-card-prices js-property-card__price-small'}) 
    aluguel_lista = [p.text for p in aluguel_tag] 
     
    #Lista de quartos
    quartos_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-room js-property-detail-rooms'}) 
    quartos_lista = [en.text for en in quartos_tag] 
   
    #Lista de endereço
    endereco_tag = soup.find_all('span', {'class': 'property-card__address'}) 
    endereco_lista = [fg.text for fg in endereco_tag] 
    
    #Lista de banheiro
    banheiro_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-bathroom js-property-detail-bathroom'}) 
    banheiro_lista = [yp.text for yp in banheiro_tag] 
  

    vaga_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-garage js-property-detail-garages'}) 
    vaga_lista = [yp.text for yp in vaga_tag] 

    area_tag = soup.find_all('li', {'class': 'property-card__detail-item property-card__detail-area'}) 
    area_lista = [yp.text for yp in area_tag] 


   #Listas transfromadas em df
    df=converter_df(aluguel_lista,quartos_lista,endereco_lista,banheiro_lista,vaga_lista,area_lista)
    
    return df

In [10]:
#Print das páginas solicitadas acima
paginas

['',
 '?pagina=1',
 '?pagina=2',
 '?pagina=3',
 '?pagina=4',
 '?pagina=5',
 '?pagina=6',
 '?pagina=7',
 '?pagina=8',
 '?pagina=9',
 '?pagina=10',
 '?pagina=11',
 '?pagina=12',
 '?pagina=13',
 '?pagina=14',
 '?pagina=15',
 '?pagina=16',
 '?pagina=17',
 '?pagina=18',
 '?pagina=19',
 '?pagina=20',
 '?pagina=21',
 '?pagina=22',
 '?pagina=23',
 '?pagina=24',
 '?pagina=25',
 '?pagina=26',
 '?pagina=27',
 '?pagina=28',
 '?pagina=29',
 '?pagina=30',
 '?pagina=31',
 '?pagina=32',
 '?pagina=33',
 '?pagina=34',
 '?pagina=35',
 '?pagina=36',
 '?pagina=37',
 '?pagina=38',
 '?pagina=39',
 '?pagina=40',
 '?pagina=41',
 '?pagina=42',
 '?pagina=43',
 '?pagina=44',
 '?pagina=45',
 '?pagina=46',
 '?pagina=47',
 '?pagina=48',
 '?pagina=49']

In [11]:
# Coletando dados de imóveis do site Viva Real
df_lista = []
for pg in paginas:
    URL = 'https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7'.format(pg)
    print('Coletando URL:', URL)
    #try:
    df = scrap(URL)
    #print(df)
    #print('Coletando URL:', URL)
    #except Exception as e:
    #    print('Erro ao coletar dados na url:', url)
    #    print(e)
    df_lista.append(df)
    
# df_final = pd.concat(df_lista)

Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7
Coletando URL: https://www.vivareal.com.br/aluguel/sp/sao-paulo/?pagina=7

In [12]:
# Visualização de valores de aluguél, quarto e endereço
df2=pd.concat(df_lista)
df2.head(104)

,aluguel,quartos,endereco,banheiro,vaga,area
0,R$ 11.500 /Mês,-- Quarto,"Rua Cantagalo, 74 - Tatuapé, São Paulo - SP",4 Banheiros,5 Vagas,236 m²
1,R$ 6.900 /Mês,3 Quartos,"Rua Alonso Calhamares, 244 - Jardim Anália Fra...",3 Banheiros,2 Vagas,100 m²
2,R$ 3.500 /Mês,2 Quartos,"Rua Manuel da Nóbrega, 638 - Paraíso, São Paul...",2 Banheiros,2 Vagas,80 m²
3,R$ 1.990 /Mês,1 Quarto,"Rua Pires da Mota, 80 - Aclimação, São Paulo - SP",1 Banheiro,1 Vaga,44 m²
4,R$ 1.800 /Mês,-- Quarto,"Alameda dos Maracatins, 992 - Indianópolis, Sã...",2 Banheiros,1 Vaga,50 m²
...,...,...,...,...,...,...
27,R$ 2.199 /Mês,2 Quartos,"Rua Heitor Penteado, 2050 - Sumarezinho, São P...",1 Banheiro,1 Vaga,50 m²
28,R$ 5.000 /Mês,3 Quartos,Rua Doutor José Áureo Bustamante - Chácara San...,3 Banheiros,2 Vagas,117 m²
29,R$ 3.000 /Mês,1 Quarto,"Rua Natingui, 930 - Vila Madalena, São Paulo - SP",1 Banheiro,1 Vaga,34 m²
30,R$ 7.500 /Mês,-- Quarto,"Avenida Brigadeiro Faria Lima, 1234 - Jardim P...",2 Banheiros,2 Vagas,100 m²
31,R$ 1.999 /Mês,1 Quarto,"Rua Balthazar da Veiga, 592 - Vila Nova Concei...",1 Banheiro,1 Vaga,39 m²

In [13]:
# Visualização de endereço completo
df2['bairro'] = df2.endereco.str.split('\s-').str[1]
df2['rua'] = df2.endereco.str.split('\s-').str[0]
df2['bairro'] = df2.bairro.str.split(',').str[0]

df2.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 11.500 /Mês,-- Quarto,"Rua Cantagalo, 74 - Tatuapé, São Paulo - SP",4 Banheiros,5 Vagas,236 m²,Tatuapé,"Rua Cantagalo, 74"
1,R$ 6.900 /Mês,3 Quartos,"Rua Alonso Calhamares, 244 - Jardim Anália Fra...",3 Banheiros,2 Vagas,100 m²,Jardim Anália Franco,"Rua Alonso Calhamares, 244"
2,R$ 3.500 /Mês,2 Quartos,"Rua Manuel da Nóbrega, 638 - Paraíso, São Paul...",2 Banheiros,2 Vagas,80 m²,Paraíso,"Rua Manuel da Nóbrega, 638"
3,R$ 1.990 /Mês,1 Quarto,"Rua Pires da Mota, 80 - Aclimação, São Paulo - SP",1 Banheiro,1 Vaga,44 m²,Aclimação,"Rua Pires da Mota, 80"
4,R$ 1.800 /Mês,-- Quarto,"Alameda dos Maracatins, 992 - Indianópolis, Sã...",2 Banheiros,1 Vaga,50 m²,Indianópolis,"Alameda dos Maracatins, 992"

In [14]:
# Quantidade dos dados acima apresentadas
df2.shape

(1800, 8)

In [15]:
# Amostragem das ruas
df2.rua.unique()

array(['Rua Cantagalo, 74', 'Rua Alonso Calhamares, 244',
       'Rua Manuel da Nóbrega, 638', 'Rua Pires da Mota, 80',
       'Alameda dos Maracatins, 992',
       'Rua Professor João de Oliveira Torres, 364', 'Alameda Olga, 422',
       'Rua Ana Ribeiro, 218', 'Rua Pedroso de Camargo, 256',
       'Rua Helena, 52', 'Rua Alba, 1952', 'Rua Teodoro Sampaio, 1992',
       'Avenida Morumbi, 8509', 'Rua Maranhão, 531', 'Alameda Jaú, 150',
       'Rua Elvira Ferraz, 250', 'Rua Jacques Félix, 724',
       'Avenida Vital Brasil, 305', 'Rua Eugênio de Medeiros, 288',
       'Avenida Nove de Julho, 3624', 'Rua Pais Leme, 215',
       'Rua Luís Dias, 135', 'Rua Doutor Diogo de Faria, 929',
       'Rua Coronel Camisão, 409', 'Rua Francisco Danieli, 105',
       'Rua Manuel de Paiva, 76', 'Avenida Brigadeiro Luís Antônio, 3249',
       'Rua Heitor Penteado, 2050', 'Rua Doutor José Áureo Bustamante',
       'Rua Natingui, 930', 'Avenida Brigadeiro Faria Lima, 1234',
       'Rua Balthazar da Veiga, 592', 'Avenida Morumbi, 1600',
       'Avenida Mário Lopes Leão, 516', 'Rua Vieira de Morais, 2098',
       'Alameda Santos, 1293'], dtype=object)

In [16]:
# Amostragem das informações que estão no banco de dados dos imóveis a ser confirmado
df2.head()

,aluguel,quartos,endereco,banheiro,vaga,area,bairro,rua
0,R$ 11.500 /Mês,-- Quarto,"Rua Cantagalo, 74 - Tatuapé, São Paulo - SP",4 Banheiros,5 Vagas,236 m²,Tatuapé,"Rua Cantagalo, 74"
1,R$ 6.900 /Mês,3 Quartos,"Rua Alonso Calhamares, 244 - Jardim Anália Fra...",3 Banheiros,2 Vagas,100 m²,Jardim Anália Franco,"Rua Alonso Calhamares, 244"
2,R$ 3.500 /Mês,2 Quartos,"Rua Manuel da Nóbrega, 638 - Paraíso, São Paul...",2 Banheiros,2 Vagas,80 m²,Paraíso,"Rua Manuel da Nóbrega, 638"
3,R$ 1.990 /Mês,1 Quarto,"Rua Pires da Mota, 80 - Aclimação, São Paulo - SP",1 Banheiro,1 Vaga,44 m²,Aclimação,"Rua Pires da Mota, 80"
4,R$ 1.800 /Mês,-- Quarto,"Alameda dos Maracatins, 992 - Indianópolis, Sã...",2 Banheiros,1 Vaga,50 m²,Indianópolis,"Alameda dos Maracatins, 992"

In [17]:
#Gerando o banco de dados dos imóveis solicitados
df2.to_csv('banco_imoveis.csv')